@import "tailwindcss";

.custom-scroll::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track
{
  background: hsl(222, 100%, 50%);
}

.custom-scroll::-webkit-scrollbar-thumb
{
  background: black;
  border-radius: 100px;
}
